*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*wrap*/

.wrap{
    width:1736px;
    margin: 0 auto;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 118px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.search-input {
    font-size: 18px;
    border: none;
}

.search-icon{
    height: 24px;
    cursor: pointer;
}

.cart-icon {
    height: 45px;
    cursor: pointer;
}

.header-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.header-center > a > img{
    width: 98px;
}

/*nav*/

.main-nav {
    justify-content: space-between;
    display: flex;         
    height: 60px;  
    gap: 90px;
    font-size: 18px;      
    margin-bottom: 60px;
}

.main-nav a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    color: black;
}

/*hero*/

.hero {
    background: url("./img/cow_photo.png") center/cover no-repeat;
    height: 806px;
    position: relative;
    display: flex;
    color: white;
    margin-bottom: 250px;
}

.hero-overlay {
    padding: 150px 100px;
}

.button {
    background-color: #FFFFFF;
    border: none;
    width: 404px;
    height: 73px;
    font-size: 20px;
    border-radius: 10px;
    color: #388FDF;
    margin-top: 60px;
    text-decoration: none;

    display: inline-flex;          
    align-items: center;        
    justify-content: center;      
    line-height: normal;          
    box-sizing: border-box;                   
}


.button:hover{
    border: 2px solid #388FDF;
} 

.hero p {
    font-size: 64px;
    line-height: 1.4;
    margin: 0;
}

.our-work {
    padding: 4em 2em;
    text-align: center;
}

/*cards*/

.section-header{
    font-size: 64px;
     margin-bottom: 100px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    margin-top: 2em;
}

.card {
    position: relative;
    background: #388FDF;
    color: white;
    border-radius: 12px;
    width: 404px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 326px;
}

.card-content {
    text-align: left;
    margin: 40px 40px;
}

.card-header{
    font-size: 64px;
}

.card-description{
    font-size: 18px;
}

.card-icon {
    position: absolute;
    width: 120px;
    bottom: 40px;
    right: 40px;
}

.about-card-section{
    margin-bottom: 100px;
}

/*wave*/

.wave {
    background: url('./img/wave.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 674px;
    background-position: center top;
    margin-bottom: 60px;
}


/*products*/

.products {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 145px;
    margin-bottom: 150px;
}

.product-info{
    margin-top: 15px;
    margin-left: 30px;
    text-align: left;
}

.product-price{
    color: #388FDF;
}

.product img {
    border-radius: 10px;
    height: 400px;
}

/*our-work*/

.our-work {
    display: flex;
    gap: 40px;          
    height: 474px;
    padding: 0;           
    width: 100vw;       
    margin-left: calc(-50vw + 50%); 
    box-sizing: border-box;
    align-items: stretch; 
    margin-bottom: 210px;
}

.our-work-content,
.our-work-img {
    flex: 1 1 50%;
    box-sizing: border-box;
}

.our-work-content {
    background-color: #388FDF;
    color: white;
    height: auto;
    text-align: left;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 70px;
}

.our-work-img img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.our-work-header{
    margin-bottom: 60px;
}

/*top-footer*/

.footer-top {
    background-color: #388FDF; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left img,
.footer-top-right img {
    height: 150px; 
    margin: 52px 144px;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 4em 2em 2em;
    background-color: #f8f8f8;
    align-items: flex-start; 
    font-size: 16px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 37px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

.footer-heading {
    margin: 37px 0;
    font-weight: 500;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0.5em;
}

.footer-column ul li a{
    color: #388FDF;
    text-decoration: none;
}

.footer-icon {
    width: 24px;
    height: auto;
}

.social > img {
    margin-right: 15px;
    margin-top: 10px;
}


/*about-us*/

.about-us > img{
    width: 100vw;
    margin-bottom: 150px;
    margin-left: calc(-50vw + 50%); 
}

.about-us-content {
    display: flex;
    height: 474px;
    padding-right: 240px;
    box-sizing: border-box;
    width: 100%; 
    max-width: 100%; 
}


.about-us-content p{
    flex: 1 1 50%;
    box-sizing: border-box;
}

/*certificates-section*/

.certificates-slider, .command-slider {
    position: relative;
    width: 100vw;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
      margin-left: calc(-50vw + 50%); 
}

.certificates-slide-image, .command-slide-image {
    width: 100vw;
    height: 650px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

.certificates-slider-controls, .command-slider-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.certificates-slider-controls button, .command-slider-controls button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
}

.certificates-slider-controls button img, .command-slider-controls button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.certificates-section-header, .command-section-header{
    margin-bottom: 100px;
}

/*info-section*/

.info-slider {
  width: 100vw;
  color: white;
  box-sizing: border-box;
  margin-left: calc(-50vw + 50%); 
}

.info-slider-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.info-slide {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 474px; 

}

.info-content {
  flex: 1;
  height: 100%;          
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: #388FDF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.info-slide-image {
  flex: 1;
  width: 100%;
  height: 100%;  
  object-fit: cover;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.info-slider-controls {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 30px;
  margin-left: 70px;
  width: 100%;
  
}

.info-slider-controls button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
}

.info-heading {
  margin-bottom: 60px;
  margin-left: 92px;
}

.info-description {
  margin-left: 92px;
  margin-right: 150px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.error-container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-logo {
    margin-top: 65px;
    margin-bottom: 100px;
}

.error-logo img {
    width: 98px;
    height: auto;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-content h1 {
    color: #388FDF;
    font-size: 64px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 50px;
}

.error-content p {
    color: black;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 70px;
}

.home-button {
    width: 444px;
    padding: 30px 20px;
    background: #388FDF;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    transition: background 0.3s;
}

.home-button:hover {
    background: #2a7bc8;
}

.error-404 {
    color: #388FDF;
    font-size: 400px;
    font-weight: 500;
    line-height: 1;
    margin-top: 170px;
    opacity: 0.2;
}

.side-images {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.side-image {
    width: 256px;
    height: 173px;
    margin-bottom: 50px;
}

.side-image.left {
    margin-left: 92px;
}

.side-image.right {
    margin-right: 92px;
}